<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Services</h1>

    <% if @services.any? %>
      <%= link_to 'New Service', new_service_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @services.any? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @services, :name, 'Name', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @services, :duration, 'Duration', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @services, :price, 'Price', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @services, :active, 'Active', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @services.each do |service| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
                      <td class="p-3"><%= service.name %></td>
                      <td class="p-3"><%= service.duration %></td>
                      <td class="p-3"><%= service.price %></td>
                      <td class="p-3"><%= service.active %></td>
          
            <td>
              <%= link_to "View", service, class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Service</p>
        <%= link_to 'New Service', new_service_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
