<%= form_with(model: alteration) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>

  <div class="form-group">
    <%= form.hidden_field :owner_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :city %>
    <%= form.text_field :city, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :jurisdiction %>
    <%= form.text_field :jurisdiction, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :permit_number %>
    <%= form.text_field :permit_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :ho_name %>
    <%= form.text_field :ho_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :ho_phone %>
    <%= form.text_field :ho_phone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :ho_email %>
    <%= form.text_field :ho_email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :building_type %>
    <div class="relative">
      <%= form.select :building_type, [['Single family'],['Multifamily'], ['Multifamily with central water heating']] , {},{class: "select"} %>
      <div class="caret">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" role="img" aria-labelledby="a63wx0fobneuwa5m7xv65kheccad7woo" class="fill-current h-4 w-4"><title id="a63wx0fobneuwa5m7xv65kheccad7woo">Icons/caret</title><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :dwelling_unit_name %>
    <%= form.text_field :dwelling_unit_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :dwelling_unit_cfa %>
    <%= form.number_field :dwelling_unit_cfa, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :climate_zone %>
    <div class="relative">
      <%= form.select :climate_zone, [['1'],['2'],['3'],['4'],['5'],['6'],['7'],['8'],['9'],['10'],['11'],['12'],['13'],['14'],['15'],['16']], {},{class: "select"} %>
      <div class="caret">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" role="img" aria-labelledby="a63wx0fobneuwa5m7xv65kheccad7woo" class="fill-current h-4 w-4"><title id="a63wx0fobneuwa5m7xv65kheccad7woo">Icons/caret</title><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :bedroom_count %>
    <%= form.text_field :bedroom_count, class: "form-control" %>
  </div>

  <div class="form-group flex justify-between">
    <%= form.button class: "btn btn-primary" %>

    <% if form.object.persisted? %>
      <%= link_to 'Delete', form.object, class: "btn btn-danger outline", method: :delete, data: { remote: true, confirm: "Are you sure?" } %>
    <% end %>
  </div>
<% end %>
