<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= link_to 'Services Booked', appointment_services_booked_path(@appointment) %> > Services Booked #<%= @service_booked.id %></h1>
      <%= link_to 'Edit', edit_appointment_service_booked_path(@appointment, @service_booked), class: "btn btn-link" %>
    </div>

    <div class="bg-white rounded shadow p-8">
      <div class="mb-4">
        <h5>Appointment</h5>
        <%= @service_booked.appointment_id %>
      </div>
      <div class="mb-4">
        <h5>System</h5>
        <%= @service_booked.system_id %>
      </div>
      <div class="mb-4">
        <h5>Service</h5>
        <%= @service_booked.service.name %>
      </div>
      <div class="mb-4">
        <h5>Duration</h5>
        <%= @service_booked.service.duration %>
      </div>
      <div class="mb-4">
        <h5>Status</h5>
        <%= @service_booked.status %>
      </div>
          </div>
  </div>
</div>
