<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Sample Groups</h1>

    <% if @sample_groups.exists? %>
      <%= link_to 'New Sample Group', new_project_sample_group_path(@project), class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @sample_groups.exists? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @sample_groups, :project_id, 'Project', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @sample_groups, :lot_id, 'Lot', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @sample_groups, :name, 'Name', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @sample_groups.each do |sample_group| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
                      <td class="p-3"><%= sample_group.project_id %></td>
                      <td class="p-3"><%= sample_group.lot_id %></td>
                      <td class="p-3"><%= sample_group.name %></td>
          
            <td>
              <%= link_to "View", sample_group, class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Sample Group</p>
        <%= link_to 'New Sample Group', new_project_sample_group_path(@project), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
