<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= link_to 'Sample Groups', sample_groups_path %> > Sample Group #<%= @sample_group.id %></h1>
      <%= link_to 'Edit', edit_sample_group_path(@sample_group), class: "btn btn-link" %>
    </div>

    <div class="bg-white rounded shadow p-8">
            <div class="mb-4">
        <h5>Project</h5>
        <%= @sample_group.project_id %>
      </div>
            <div class="mb-4">
        <h5>Lot</h5>
        <%= @sample_group.lot_id %>
      </div>
            <div class="mb-4">
        <h5>Name</h5>
        <%= @sample_group.name %>
      </div>
          </div>
  </div>
</div>
