<%= form_with(model: project) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :location %>
    <%= form.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :climate_zone %>
    <%= form.select :climate_zone, [['1'],['2'],['3'],['4'],['5'],['6'],['7'],['8'],['9'],['10'],['11'],['12'],['13'],['14'],['15'],['16']], class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :jurisdiction %>
    <%= form.text_field :jurisdiction, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :project_type %>
    <input type="checkbox" id="RNCSF" name="projecttype_list[]" value="RNC SF" class="form-checkbox" <%= @RNCSF ? 'checked' : ''  %> />
    <label for="RNCSF" class="inline-block" >RNC SF</label>
    <input type="checkbox" id="RNCMF" name="projecttype_list[]" value="RNC MF"class="form-checkbox" <%= @RNCMF ? 'checked' : '' %> />
    <label for="RNCMF" class="inline-block" >RNC MF</label>
    <input type="checkbox" id="HR" name="projecttype_list[]" value="High Rise"class="form-checkbox" <%= @HighRise ? 'checked' : '' %> />
    <label for="HR" class="inline-block" >High Rise</label>
    <input type="checkbox" id="MixedUse" name="projecttype_list[]" value="Mixed Use"class="form-checkbox" <%= @MixedUse ? 'checked' : '' %> />
    <label for="MixedUse" class="inline-block" >Mixed Use</label>
    <input type="checkbox" id="NonRes" name ="projecttype_list[]" value="Non-Res"class="form-checkbox" <%= @NonRes ? 'checked' : '' %> />
    <label for="NonRes" class="inline-block" >Non-Res</label>
  </div>
  <div class="form-group">
    <%= form.label :program_enrollment %>
    <input type="checkbox" id="CAHP" name="program_list[]" value="CAHP" class="form-checkbox" <%= @CAHP ? 'checked' : ''  %> />
    <label for="CAHP" class="inline-block" >CAHP</label>
    <input type="checkbox" id="CMFMH" name="program_list[]" value="CMFMH"class="form-checkbox" <%= @CMFMH ? 'checked' : '' %> />
    <label for="CMFMH" class="inline-block" >CMFMH</label>
    <input type="checkbox" id="GPR" name="program_list[]" value="GPR"class="form-checkbox" <%= @GPR ? 'checked' : '' %> />
    <label for="GPR" class="inline-block" >GPR</label>
    <input type="checkbox" id="LEED" name="program_list[]" value="LEED"class="form-checkbox" <%= @LEED ? 'checked' : '' %> />
    <label for="LEED" class="inline-block" >LEED</label>
    <input type="checkbox" id="ESTAR" name ="program_list[]" value="ESTAR"class="form-checkbox" <%= @ESTAR ? 'checked' : '' %> />
    <label for="ESTAR" class="inline-block" >ENERGY STAR</label>
    <input type="checkbox" id="TCAC" name ="program_list[]" value="TCAC"class="form-checkbox" <%= @TCAC ? 'checked' : '' %> />
    <label for="TCAC" class="inline-block" >TCAC</label>
  </div>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :utility_electricity %>
    <%= form.select :utility_electricity, [['PG&E'],['SCE'],['SDG&E'],['SMUD'],['TID'],['MID']], class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :utility_gas %>
    <%= form.select :utility_gas, [['PG&E'],['SoCal Gas'],['SDG&E']], class: "form-control" %>
  </div>

  <% if form.object.persisted? %>
  <div class="form-group">
    <%= form.check_box :active, class: "form-checkbox" %>
    <%= form.label :active, class: "inline-block" %>
  </div>
  <% end %>

  <div class="form-group">
    <%= form.label :file_share %>
    <%= form.text_field :file_share, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :owner_id, class: "form-control" %>
  </div>

  <div class="form-group flex justify-between">
    <%= form.button class: "btn btn-primary" %>

    <% if form.object.persisted? %>
      <%= link_to 'Delete', form.object, class: "btn btn-danger outline", method: :delete, data: { remote: true, confirm: "Are you sure?" } %>
    <% end %>
  </div>
<% end %>
