<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= link_to 'Projects', projects_path %> > Project #<%= @project.id %></h1>
      <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-link" %>
    </div>
    <div class="bg-white rounded shadow p-8">
      <div class="mb-4">
        <h5>Name</h5>
        <%= @project.name %>
      </div>
      <div class="mb-4" id="programs">
        <h5>Program Enrollments</h5>
        <% @project.programs.each do |program| %>
        <div class="rounded-full py-1 px-4 bg-primary-500 text-xs inline-block text-white font-bold leading-normal uppercase mr-2">
        <%= program.name %>
        </div>
        <% end %>
      </div>
      <div class="mb-4">
        <h5>Location</h5>
        <%= @project.location %>
      </div>
      <div class="mb-4">
        <h5>Zipcode</h5>
        <%= @project.zipcode %>
      </div>
      <div class="mb-4">
        <h5>Climate zone</h5>
        <%= @project.climate_zone %>
      </div>
      <div class="mb-4">
        <h5>Jurisdiction</h5>
        <%= @project.jurisdiction %>
      </div>
      <div class="mb-4" id="project_types">
        <h5>Project type</h5>
          <% @project.projecttypes.each do |projecttype| %>
          <div class="rounded-full py-1 px-4 bg-primary-500 text-xs inline-block text-white font-bold leading-normal uppercase mr-2">
          <%= projecttype.name %>
          </div>
          <% end %>
      </div>
      <div class="mb-4">
        <h5>Description</h5>
        <%= @project.description %>
      </div>
      <div class="mb-4">
        <h5>Utility electricity</h5>
        <%= @project.utility_electricity %>
      </div>
      <div class="mb-4">
        <h5>Utility gas</h5>
        <%= @project.utility_gas %>
      </div>
      <div class="mb-4">
        <h5>Active</h5>
        <%= @project.active %>
      </div>
      <div class="mb-4">
        <h5>File share</h5>
        <%= @project.file_share %>
      </div>
      <div class="mb-4">
        <h5>Owner</h5>
        <%= @project.owner_id %>
      </div>
      <div class="mb-4">
        <h5>Provider</h5>
        <%= @project.provider %>
      </div>
      <div class="mb-4">
        <h5>code_year</h5>
        <%= @project.code_year %>
      </div>
      <div class="mb-4">
        <h5>bill_at_frame</h5>
        <%= @project.bill_at_frame %>
      </div>
      <div class="mb-4">
        <h5>total_lot_count</h5>
        <%= @project.total_lot_count %>
      </div>
      <div data-controller="tabs" data-tabs-active-tab="-mb-px tab-active transition">
        <ul class="list-reset list-none flex border-b">
          <li class="mr-1" data-target="tabs.tab" data-action="click->tabs#change">
            <a class="inline-block py-2 px-4 text-primary hover:text-blue-800 font-semibold no-underline" href="#">Notes</a>
          </li>
          <li class="mr-1" data-target="tabs.tab" data-action="click->tabs#change">
            <a class="inline-block py-2 px-4 text-primary hover:text-blue-800 font-semibold no-underline" href="#">Lots</a>
          </li>
          <li class="mr-1" data-target="tabs.tab" data-action="click->tabs#change">
            <a class="inline-block py-2 px-4 text-primary hover:text-blue-800 font-semibold no-underline" href="#">CF1R's</a>
          </li>
          <li class="mr-1" data-target="tabs.tab" data-action="click->tabs#change">
            <a class="inline-block py-2 px-4 text-primary hover:text-blue-800 font-semibold no-underline" href="#">Contacts</a>
          </li>
          <li class="mr-1" data-target="tabs.tab" data-action="click->tabs#change">
            <a class="inline-block py-2 px-4 text-primary hover:text-blue-800 font-semibold no-underline" href="#">Sample Groups</a>
          </li>
        </ul>
        <div class="hidden py-4 px-4" data-target="tabs.panel">
          <% if @project.project_notes.any? %>
          <div class="flex justify-between items-center mb-4">
              <h1 class="h3">Notes</h1>
              <%= link_to 'New Note', new_project_project_note_path(@project), class: "btn btn-primary" %>
          </div>
          <%= render @project.project_notes  %>
          <h5>Add a note</h5>
          <%= render 'project_notes/form', project_note: @project.project_notes.build  %>
          <% else %>
            <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
              <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
              <div class="flex-1 text-center">
                <p class="h3 mb-4">Create your first Note</p>
                <%= link_to 'New Note', new_project_project_note_path(@project), class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="hidden py-4 px-4" data-target="tabs.panel">
          <% if @project.lots.any? %>
            <div class="flex justify-between items-center mb-4">
              <h1 class="h3">Lots</h1>
              <%= link_to 'New Lot', new_project_lot_path(@project), class: "btn btn-primary" %>
            </div>
            <div class="bg-white rounded shadow table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="p-3 uppercase text-left text-xs"><%= sortable @project.lots, :project_id, 'Project', class: 'text-gray-700' %></th>
                    <th class="p-3 uppercase text-left text-xs"><%= sortable @project.lots, :permit, 'Permit', class: 'text-gray-700' %></th>
                    <th class="p-3 uppercase text-left text-xs"><%= sortable @project.lots, :phase, 'Phase', class: 'text-gray-700' %></th>
                    <th class="p-3 uppercase text-left text-xs"><%= sortable @project.lots, :lot, 'Lot', class: 'text-gray-700' %></th>
                    <th class="p-3 uppercase text-left text-xs"><%= sortable @project.lots, :address, 'Address', class: 'text-gray-700' %></th>
                    <th class="p-3 uppercase text-left text-xs"><%= sortable @project.lots, :plan_type_id, 'Plan type', class: 'text-gray-700' %></th>
                    <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
                  </tr>
                </thead>

                <tbody>
                  <%= render @project.lots %>
                </tbody>
              </table>
            </div>
          <% else %>
            <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
              <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
              <div class="flex-1 text-center">
                <p class="h3 mb-4">Create your first lot</p>
                <%= link_to 'New Lot', new_project_lot_path(@project), class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="hidden py-4 px-4" data-target="tabs.panel">
          <% if @project.plan_types.any? %>
          <div class="flex justify-between items-center mb-4">
            <h1 class="h3">Plan Types</h1>
              <%= link_to 'New CF1R', new_project_plan_type_path(@project), class: "btn btn-primary" %>
          </div>
          <div class="bg-white rounded shadow table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="p-3 uppercase text-left text-xs"><%= sortable @project.plan_types, :project_id, 'Project', class: 'text-gray-700' %></th>
                  <th class="p-3 uppercase text-left text-xs"><%= sortable @project.plan_types, :name, 'Name', class: 'text-gray-700' %></th>
                  <th class="p-3 uppercase text-left text-xs"><%= sortable @project.plan_types, :xml_store, 'Xml store', class: 'text-gray-700' %></th>
                  <th class="p-3 uppercase text-left text-xs"><%= sortable @project.plan_types, :hers, 'Hers', class: 'text-gray-700' %></th>
                  <th class="p-3 uppercase text-left text-xs"><%= sortable @project.plan_types, :model_test, 'Model test', class: 'text-gray-700' %></th>
                  <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
                </tr>
              </thead>

              <tbody>
              <%= render @project.plan_types %>
              </tbody>
            </table>
          </div>  
          <% else %>
            <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
              <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
              <div class="flex-1 text-center">
                <p class="h3 mb-4">Create your first CF1R</p>
                <%= link_to 'New CF1R', new_project_plan_type_path(@project), class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="hidden py-4 px-4" data-target="tabs.panel">
          <% if @project.project_users.any? %>
          <div class="flex justify-between items-center mb-4">
            <h1 class="h3">Project Contacts</h1>
              <%= link_to 'Add Contact', new_project_project_user_path(@project), class: "btn btn-primary" %>
          </div>
          <div class="bg-white rounded shadow table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="p-3 uppercase text-left text-xs"><%= sortable @project.project_users, :account_id, 'id', class: 'text-gray-700' %></th>
                  <th class="p-3 uppercase text-left text-xs"><%= sortable @project.project_users, :account_name, 'Company Name', class: 'text-gray-700' %></th>
                  <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
                </tr>
              </thead>
              <tbody>
              <%= render @project.project_users %>
              </tbody>
            </table>
          </div>
          <% else %>
          <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
            <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
            <div class="flex-1 text-center">
              <p class="h3 mb-4">Add your first contact</p>
              <%= link_to 'Add Contact', new_project_project_user_path(@project), class: "btn btn-primary" %>
            </div>
          </div>
          <% end %>
        </div>
        <div class="hidden py-4 px-4" data-target="tabs.panel">
          <% if @project.sample_groups.exists? %>
          <div class="flex justify-between items-center mb-4">
            <h1 class="h3">Sample Groups</h1>
              <%= link_to 'New Sample Group', new_project_sample_group_path(@project), class: "btn btn-primary" %>
          </div>
          <div class="bg-white rounded shadow table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="p-3 uppercase text-left text-xs"><%= sortable @project.sample_groups, :project_id, 'Project', class: 'text-gray-700' %></th>
                  <th class="p-3 uppercase text-left text-xs"><%= sortable @project.sample_groups, :lot_id, 'Lot', class: 'text-gray-700' %></th>
                  <th class="p-3 uppercase text-left text-xs"><%= sortable @project.sample_groups, :name, 'Name', class: 'text-gray-700' %></th>
                  <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
                </tr>
              </thead>

              <tbody>
              <%= render @project.sample_groups %>
              </tbody>
            </table>
          </div>
          <% else %>
            <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
              <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
              <div class="flex-1 text-center">
                <p class="h3 mb-4">Create your first group</p>
                <%= link_to 'New Sample Group', new_project_sample_group_path(@project), class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div> 
  </div>
</div>
