<tr class="group border-t border-gray-400 hover:bg-gray-100" data-action="click->table#click" data-controller="table">
	<td class="p-3"><%= plan_type.project_id %></td>
	<td class="p-3"><%= plan_type.name %></td>
	<td class="p-3"><%= plan_type.xml_store %></td>
	<td class="p-3"><%= plan_type.hers %></td>
	<td class="p-3"><%= plan_type.model_test %></td>
	<td>
	<%= link_to "View", project_plan_type_path(@project, plan_type), class: "btn btn-link no-underline", :'data-target' => "table.url" %>
	</td>
</tr>
