<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
  <h1 class="h3">Lots</h1>

  <% if @lots.exists? %>
      <%= link_to 'New Lot', new_project_lot_path(@project), class: "btn btn-primary" %>
  <% end %>
  </div>

  <% if @lots.exists? %>
    <%= render @project.lots %>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Lot</p>
        <%= link_to 'New Lot', new_project_lot_path(@project), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
