<div class="hidden border border-gray-400 rounded p-8 my-8" data-id="<%= appointment.id %>" data-latitude="<%= appointment.alteration.latitude %>" data-longitude="<%= appointment.alteration.longitude %>" data-target="multimaps.appointment">
  <h3>Appointment ID # <%= appointment.id %></h3>
  <p>latitude: <%= appointment.alteration.latitude %></p>
  <p>longitude: <%= appointment.alteration.longitude %></p>
</div>