<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Alteration Users</h1>

    <% if @alteration_users.any? %>
      <%= link_to 'New Alteration User', new_alteration_alteration_user_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @alteration_users.any? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @alteration_users, :account_id, 'Account', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @alteration_users, :alteration_id, 'Alteration', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @alteration_users.each do |alteration_user| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
                      <td class="p-3"><%= Account.find(alteration_user.account_id).name %></td>
                      <td class="p-3"><%= alteration_user.alteration_id %></td>
          
            <td>
              <%= link_to "View", alteration_alteration_user_path(@alteration, alteration_user), class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Add your first contact</p>
        <%= link_to 'New Alteration User', new_alteration_alteration_user_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
