<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= link_to 'Services Neededs', alteration_system_services_needed_path(@alteration, @system) %> > Services Needed #<%= @service_needed.id %></h1>
      <%= link_to 'Edit', edit_alteration_system_service_needed_path(@alteration, @system, @service_needed), class: "btn btn-link" %>
    </div>

    <div class="bg-white rounded shadow p-8">
            <div class="mb-4">
        <h5>System</h5>
        <%= @service_needed.system_id %>
      </div>
            <div class="mb-4">
        <h5>Service</h5>
        <%= @service_needed.service.name %>
      </div>
            <div class="mb-4">
        <h5>Status</h5>
        <%= @service_needed.status %>
      </div>
          </div>
  </div>
</div>
